<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand">
                <!-- <img src="assets/images/images/logo.svg">   -->
                <a class="name">My Portfolio Website</a>
            </a>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/service">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/work">Our Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-6">
                <div class="hero">
                    <img src="assets/images/images/man.png">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h6>Hello World!</h6>
                    <h1>I'm a Creative <span>Designer</span></h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta veritatis atque commodi delectus, perferendis consequatur culpa porro debitis dolorem aut! Architecto atque nostrum sequi consequuntur commodi odit nam rem quam!</p>
                    <button class="btn">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>