<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="img">
                <img src="assets/images/images/man-2.png">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text">
                <h4>About <span>Me</span></h4>
                <h5>Hello! I'm Devanshi Dalwadi.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, perferendis! Deserunt eligendi rem, veritatis veniam fuga maiores adipisci eveniet dolorum provident commodi nulla harum tempore debitis vitae natus cupiditate illum!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis enim nesciunt eos. Soluta, repellendus. Veritatis saepe libero sed enim repellat! Eius, deleniti fuga vel sequi molestias nemo sit natus autem.</p>
                <a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
                <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>