<div class="container">
    <div class="service">
        <h2><span>Our</span> Services</h2>
        <p>We Provide high standard clean website for your business solutions</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>Graphic Desiger</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="img">
                <i class="fas fa-paint-brush"></i>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>Web Development</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="img">
                <i class="fas fa-code"></i>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>Media Marketing</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="img">
                <i class="fas fa-briefcase"></i>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>Web Design</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="img">
                <i class="fas fa-tv"></i>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>Motion Graphic</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="img">
                <i class="fas fa-film"></i>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>UI/UX Desiger</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="img">
                <i class="fas fa-laptop-code"></i>
            </div>
        </div>
    </div>
</div>

<div class="black">
    <img src="assets/images/images/black.jpg">
    <div class="info">
        <h1>I Am Available For Freelancer.</h1>
        <h6>We Provide High Standard Website For Your Business Solutions.</h6>
        <button class="btn">More Info</button>
    </div>
</div>