<div class="work">
    <div class="container">
        <div class="text">
            <h4><span>My</span> Works</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="overlay">
                        <a class="info" href="#">More Info</a>
                    </div>
                    <img class="card-img-top" src="assets/images/faceimage.jpg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="overlay">
                        <a class="info" href="#">More Info</a>
                    </div>
                    <img class="card-img-top" src="assets/images/Capture.PNG">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="overlay">
                        <a class="info" href="#">More Info</a>
                    </div>
                    <img class="card-img-top" src="assets/images/webpage2.jpg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="overlay">
                        <a class="info" href="#">More Info</a>
                    </div>
                    <img class="card-img-top" src="assets/images/wedding.JPG">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="overlay">
                        <a class="info" href="#">More Info</a>
                    </div>
                    <img class="card-img-top" src="assets/images/wedding2.JPG">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="overlay">
                        <a class="info" href="#">More Info</a>
                    </div>
                    <img class="card-img-top" src="assets/images/wedding3.JPG">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog">
    <div class="container">
        <h4><span>Our</span> Blog</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/images/lady.png">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/images/lady.png">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/images/lady.png">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>